:root {
    --background1: #1e1e1e;
    --background2: #252526;
    --background3: #333333;
    --accent1: #007acc;
    --accent2: #00568f;
}

body {
    background-color: var(--background1);
    overflow-y: visible;
    overflow-x: hidden;
    /* font-family: 'Major Mono Display', monospace; */
    font-family: 'JetBrains Mono', monospace;
    user-select: none;
    margin: 0;
}

#main {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    min-height: 99vh;
    max-height: fit-content;
}

#left {
    background-color: var(--background3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 10vw;
    z-index: 1;
}

#left>a {
    padding: 10px;
    text-decoration: none;
    background-color: var(--accent1);
    color: white;
    text-align: center;
    border-radius: 25px;
    margin: 10px 0;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    transition: 0.3s;
    font-size: 1em;
}

#top-bar {
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--background3);
    height: 3vh;
    position: absolute;
    margin: 0px;
    z-index: 0;
}



#right {
    background-color: var(--background1);
    display: flex;
    width: 100%;
    justify-content: center;
}

#center {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#homephoto {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 500px;
    border: 5px var(--background3) solid;
}

#centertext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    justify-content: center;
    color: white;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    padding: 1%;
    /* height: max-content; */

}

#name {
    font-size: 7em;
    /* word-spacing: 1em; */
}

.name2 {
    font-size: 2em;
    color: orange;
}

#name3 {
    font-size: 1.25em;
    color: var(--accent1);
}

.non-name {
    opacity: 0.7;
}

.centertext-item {
    margin: 5px;
}

#leftlogo {
    padding: 10%;
}

#logo {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 25px;

}

.non-active {
    opacity: 0.6;
    width: 70%;
}

.non-active:hover {
    /* background-color: var(--accent2); */
    width: 80%;
    opacity: 1;
}

.active {
    width: 80%;
    opacity: 1;
}

#school {
    margin-left: .65em;
}

#email {
    text-decoration: none;
    color: white;
    font-size: 2em;
    margin: .35em;
}

.ctext {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    justify-content: center;
    color: white;
    padding: 1%;
    height: max-content;

}